<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.deployrequester.dao.DeployDbserversDAO" >
  <resultMap id="BaseResultMap" type="com.myself.deployrequester.po.DeployDbserversPO" >
    <id column="deploydbserversid" property="deploydbserversid" jdbcType="VARCHAR" />
    <result column="linkname" property="linkname" jdbcType="VARCHAR" />
    <result column="linknamedesc" property="linknamedesc" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="NUMERIC" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="belong" property="belong" jdbcType="NUMERIC" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="needrecpwd" property="needrecpwd" jdbcType="NUMERIC" />
    <result column="dbname" property="dbname" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="createrip" property="createrip" jdbcType="VARCHAR" />
    <result column="issyncdb" property="issyncdb" jdbcType="NUMERIC" />
    <result column="projectid" property="projectid" jdbcType="NUMERIC" />
    <result column="moduleid" property="moduleid" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    deploydbserversid, linkname, linknamedesc, ip, port, username,
    belong, password, needrecpwd, dbname, createtime, creater, createrip,
    issyncdb, projectid, moduleid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_deploy_dbservers
    where deploydbserversid = #{deploydbserversid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_deploy_dbservers
    where deploydbserversid = #{deploydbserversid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.myself.deployrequester.po.DeployDbserversPO" >
    insert into t_deploy_dbservers (deploydbserversid, linkname, linknamedesc, ip, port,
      username, belong, password, 
      needrecpwd, dbname, createtime, creater, createrip, issyncdb,
      projectid, moduleid)
    values (#{deploydbserversid,jdbcType=VARCHAR}, #{linkname,jdbcType=VARCHAR}, #{linknamedesc,jdbcType=VARCHAR},
      #{ip,jdbcType=VARCHAR}, #{port,jdbcType=NUMERIC},
      #{username,jdbcType=VARCHAR}, #{belong,jdbcType=NUMERIC}, #{password,jdbcType=VARCHAR}, 
      #{needrecpwd,jdbcType=NUMERIC}, #{dbname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{createrip,jdbcType=VARCHAR}, #{issyncdb,jdbcType=NUMERIC},
      #{projectid,jdbcType=NUMERIC}, #{moduleid,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.myself.deployrequester.po.DeployDbserversPO" >
    insert into t_deploy_dbservers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deploydbserversid != null" >
        deploydbserversid,
      </if>
      <if test="linkname != null" >
        linkname,
      </if>
      <if test="linknamedesc != null" >
        linknamedesc,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="belong != null" >
        belong,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="needrecpwd != null" >
        needrecpwd,
      </if>
      <if test="dbname != null" >
        dbname,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createrip != null" >
        createrip,
      </if>
      <if test="issyncdb != null" >
        issyncdb,
      </if>
      <if test="projectid != null" >
        projectid,
      </if>
      <if test="moduleid != null" >
        moduleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deploydbserversid != null" >
        #{deploydbserversid,jdbcType=VARCHAR},
      </if>
      <if test="linkname != null" >
        #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linknamedesc != null" >
        #{linknamedesc,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=NUMERIC},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="belong != null" >
        #{belong,jdbcType=NUMERIC},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="needrecpwd != null" >
        #{needrecpwd,jdbcType=NUMERIC},
      </if>
      <if test="dbname != null" >
        #{dbname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createrip != null" >
        #{createrip,jdbcType=VARCHAR},
      </if>
      <if test="issyncdb != null" >
        #{issyncdb,jdbcType=NUMERIC},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=NUMERIC},
      </if>
      <if test="moduleid != null" >
        #{moduleid,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myself.deployrequester.po.DeployDbserversPO" >
    update t_deploy_dbservers
    <set >
      <if test="linkname != null" >
        linkname = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linknamedesc != null" >
        linknamedesc = #{linknamedesc,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=NUMERIC},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="belong != null" >
        belong = #{belong,jdbcType=NUMERIC},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="needrecpwd != null" >
        needrecpwd = #{needrecpwd,jdbcType=NUMERIC},
      </if>
      <if test="dbname != null" >
        dbname = #{dbname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createrip != null" >
        createrip = #{createrip,jdbcType=VARCHAR},
      </if>
      <if test="issyncdb != null" >
        issyncdb = #{issyncdb,jdbcType=NUMERIC},
      </if>
      <if test="projectid != null" >
        projectid = #{projectid,jdbcType=NUMERIC},
      </if>
      <if test="moduleid != null" >
        moduleid = #{moduleid,jdbcType=NUMERIC},
      </if>
    </set>
    where deploydbserversid = #{deploydbserversid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myself.deployrequester.po.DeployDbserversPO" >
    update t_deploy_dbservers
    set linkname = #{linkname,jdbcType=VARCHAR},
      linknamedesc = #{linknamedesc,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      port = #{port,jdbcType=NUMERIC},
      username = #{username,jdbcType=VARCHAR},
      belong = #{belong,jdbcType=NUMERIC},
      password = #{password,jdbcType=VARCHAR},
      needrecpwd = #{needrecpwd,jdbcType=NUMERIC},
      dbname = #{dbname,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      createrip = #{createrip,jdbcType=VARCHAR},
      issyncdb = #{issyncdb,jdbcType=NUMERIC},
      projectid = #{projectid,jdbcType=NUMERIC},
      moduleid = #{moduleid,jdbcType=NUMERIC}
    where deploydbserversid = #{deploydbserversid,jdbcType=VARCHAR}
  </update>

  <update id="update1" parameterType="com.myself.deployrequester.po.DeployDbserversPO" >
    update t_deploy_dbservers
    <set >
      <if test="needrecpwd != null and needrecpwd == 0">
        needrecpwd = 0,
        password = null,
      </if>
      <if test="needrecpwd != null and needrecpwd == 1">
        needrecpwd = 1,
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="linkname != null and linkname != ''">
        linkname = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linknamedesc != null and linknamedesc != ''">
        linknamedesc = #{linknamedesc,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=NUMERIC},
      </if>
      <if test="username != null and username != ''">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="dbname != null and dbname != ''">
        dbname = #{dbname,jdbcType=VARCHAR},
      </if>
    </set>
    where belong = #{belong,jdbcType=NUMERIC}
    AND   projectid = #{projectid,jdbcType=NUMERIC}
    AND   moduleid = #{moduleid,jdbcType=NUMERIC}
  </update>

  <select id="selectByDeployDbserversPO" resultMap="BaseResultMap" parameterType="com.myself.deployrequester.po.DeployDbserversPO">
    select
    <include refid="Base_Column_List" />
    from t_deploy_dbservers
    where 1 = 1
    <if test="belong != null">
      and belong = #{belong}
    </if>
    <if test="linkname != null and linkname != '' ">
      and lower(linkname) like concat('%',lower(#{linkname}),'%')
    </if>
    <if test="linknamedesc != null and linknamedesc != '' ">
      and lower(linknamedesc) like concat('%',lower(#{linknamedesc}),'%')
    </if>
    <if test="ip != null and ip != '' ">
      and ip = #{ip}
    </if>
    <if test="port != null">
      and port = #{port}
    </if>
    <if test="username != null and username != '' ">
      and username = #{username}
    </if>
    <if test="dbname != null and dbname != '' ">
      and dbname = #{dbname}
    </if>
    <if test="issyncdb != null">
      and issyncdb = #{issyncdb}
    </if>
    <if test="projectid != null">
      and projectid = #{projectid}
    </if>
    <if test="moduleid != null">
      and moduleid = #{moduleid}
    </if>
    order by belong, projectid, moduleid, ip
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_deploy_dbservers
    where 1 = 1
    order by createtime desc
  </select>
</mapper>