<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.deployrequester.dao.PrjmodDblinkRelPOMapper" >
  <resultMap id="BaseResultMap" type="com.myself.deployrequester.po.PrjmodDblinkRelPO" >
    <id column="prjmoddblinkrelid" property="prjmoddblinkrelid" jdbcType="VARCHAR" />
    <result column="projectid" property="projectid" jdbcType="NUMERIC" />
    <result column="moduleid" property="moduleid" jdbcType="NUMERIC" />
    <result column="deploydbserversid" property="deploydbserversid" jdbcType="VARCHAR" />
    <result column="dbname" property="dbname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    prjmoddblinkrelid, projectid, moduleid, deploydbserversid, dbname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_prjmod_dblink_rel
    where prjmoddblinkrelid = #{prjmoddblinkrelid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_prjmod_dblink_rel
    where prjmoddblinkrelid = #{prjmoddblinkrelid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.myself.deployrequester.po.PrjmodDblinkRelPO" >
    insert into t_prjmod_dblink_rel (prjmoddblinkrelid, projectid, moduleid, 
      deploydbserversid, dbname)
    values (#{prjmoddblinkrelid,jdbcType=VARCHAR}, #{projectid,jdbcType=NUMERIC}, #{moduleid,jdbcType=NUMERIC}, 
      #{deploydbserversid,jdbcType=VARCHAR}, #{dbname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myself.deployrequester.po.PrjmodDblinkRelPO" >
    insert into t_prjmod_dblink_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prjmoddblinkrelid != null" >
        prjmoddblinkrelid,
      </if>
      <if test="projectid != null" >
        projectid,
      </if>
      <if test="moduleid != null" >
        moduleid,
      </if>
      <if test="deploydbserversid != null" >
        deploydbserversid,
      </if>
      <if test="dbname != null" >
        dbname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prjmoddblinkrelid != null" >
        #{prjmoddblinkrelid,jdbcType=VARCHAR},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=NUMERIC},
      </if>
      <if test="moduleid != null" >
        #{moduleid,jdbcType=NUMERIC},
      </if>
      <if test="deploydbserversid != null" >
        #{deploydbserversid,jdbcType=VARCHAR},
      </if>
      <if test="dbname != null" >
        #{dbname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myself.deployrequester.po.PrjmodDblinkRelPO" >
    update t_prjmod_dblink_rel
    <set >
      <if test="projectid != null" >
        projectid = #{projectid,jdbcType=NUMERIC},
      </if>
      <if test="moduleid != null" >
        moduleid = #{moduleid,jdbcType=NUMERIC},
      </if>
      <if test="deploydbserversid != null" >
        deploydbserversid = #{deploydbserversid,jdbcType=VARCHAR},
      </if>
      <if test="dbname != null" >
        dbname = #{dbname,jdbcType=VARCHAR},
      </if>
    </set>
    where prjmoddblinkrelid = #{prjmoddblinkrelid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myself.deployrequester.po.PrjmodDblinkRelPO" >
    update t_prjmod_dblink_rel
    set projectid = #{projectid,jdbcType=NUMERIC},
      moduleid = #{moduleid,jdbcType=NUMERIC},
      deploydbserversid = #{deploydbserversid,jdbcType=VARCHAR},
      dbname = #{dbname,jdbcType=VARCHAR}
    where prjmoddblinkrelid = #{prjmoddblinkrelid,jdbcType=VARCHAR}
  </update>
</mapper>